.container-fluid
	.row.rate-row.top-row.gradient
		.col-xs-4
			%span.logo.icon-stack.icon-lg
				%i.logo.icon.icon-comment-o.icon-stack-2x
				%i.logo.icon.icon-taxi.icon-stack-1x

		.col-xs-8
			.title.title-long.no-wrap=@title

.container-fluid
	.row.rate-row
		.detail

			=@result_summary

		- if @ratings.empty?
			.empty-table-message
				well, there are no ratings to display.
		- else

			%table.ratings-list
				%tbody
					- @ratings.each_with_index do |rating, index|

						%tr{class: (index.even? ? 'even' : 'odd')}
							%td
								.quality
									-rating.quality.times do
										%i.icon.icon-star

								.driver=rating.driver.name

							%td.comment-text=rating.comments

%footer
	.container-fluid.footer.footer-row.gradient
		.footer-subtitle
			promoting better taxis
		.footer-title
			%a{href: 'http://taxitalk.info'}
				TaxiTalk.info
			\/ RateThisRide.us
