.container-fluid
	.row.rate-trip-row.top-row
		.col-xs-3
			%span.logo.icon-stack.icon-lg
				%i.logo.icon.icon-comment-o.icon-stack-2x
				%i.logo.icon.icon-taxi.icon-stack-1x

		.col-xs-9
			.title=@title

=form_for :rating, url(:rating, :create), class: 'rating_form' do |f|
	=f.hidden_field :permit_number, value: @driver.permit_number
	.container-fluid
		.row.rate-trip-row.permit-number-row
			.col-xs-3
				.text-label
					Driver
			.col-xs-4
				.driver-photo
					=image_tag '/images/drivers/' + @driver.photo
			.col-xs-5
				.text-label.driver-name
					=@driver.name
				.text-label.permit-number
					= @driver.permit_number
		.row.rate-trip-row.rating-row
			.col-xs-3
				.text-label
					Quality
			.col-xs-9
				<div class="stars">
				<input class="star star-5" id="star-5" type="radio" name="star"/>
				<label class="star star-5" for="star-5"></label>
				<input class="star star-4" id="star-4" type="radio" name="star"/>
				<label class="star star-4" for="star-4"></label>
				<input class="star star-3" id="star-3" type="radio" name="star"/>
				<label class="star star-3" for="star-3"></label>
				<input class="star star-2" id="star-2" type="radio" name="star"/>
				<label class="star star-2" for="star-2"></label>
				<input class="star star-1" id="star-1" type="radio" name="star"/>
				<label class="star star-1" for="star-1"></label>
				</div>
				= f.hidden_field(:quality, value: '0')
		.row.rate-trip-row.comment-row
			.col-xs-3
				.text-label
					Comments
			.col-xs-9
				= f.text_area :comments
		.row.rate-trip-row.done-button-row
			.col-xs-3
			.col-xs-9
				= f.submit "Done"

		.row.rate-trip-row.footer-row
			.footer-title
				%a{href: 'http://taxitalk.info'} TaxiTalk.info
			.footer-subtitle
				promoting better taxis
