.container-fluid
	.row.rate-trip-row.top-row
		.col-xs-3
			%span.logo.icon-stack.icon-lg
				%i.logo.icon.icon-comment-o.icon-stack-2x
				%i.logo.icon.icon-taxi.icon-stack-1x

		.col-xs-9
			.title Rate This Trip

	.container-fluid
		.row.rate-trip-row
			.text-label
				Thank you for your rating
			%br
			%br
			%br
			%br
			%br
			%br
		.row.rate-trip-row.footer-row
			.footer-title
				%a{href: 'http://taxitalk.info'}Subscribe
				to TaxiTalk.info
			.footer-subtitle
				promoting better taxis
