
.body {
    font-size: 36px;
}

.ratings-list {
    padding: 10px;
}

.ratings-list td {
    padding: 5px;
}

.ratings-list th {
    font-weight: bold;
    padding-right: 15px;
}

.logo {
    margin-top: -4px;
    width: auto;
}

.rate-trip-row {
    font-size: 1.3em;
    padding: 10px 5px;
    /*padding-left: 0;*/
}

.left-column {
    padding-left: 0;
}

.first-row {
    padding-top: 20px;
}

.rating-row {
    font-size: 83%;
}

.driver-photo img {
    width: 100px;
    height: 100px;
}
.qrcode img {
    width: 100px;
    height: 100px;
}

.qrcode-badge img {
    height: 50px;
}

.star-badge i {
    text-align: left;
    color: #DDD;
    padding-left: 8px;
}

.button-badge {
    /*padding-top: 10px;*/
}

.button-badge input {
    font-size: 70%;
}

.text-label {
    font-size: 0.7em;
    font-weight: bold;
}

.text-label.driver-name {
    font-size: 0.9em;
    font-weight: bold;
    /*padding-left: 5px;*/
}

.text-label.permit-number {
    font-size: 2em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #555;
    /*padding-left: 5px;*/
}

.comment-row textarea {
    width: 100%;
    font-size: 0.85em;
}

.done-button-row {
    padding-bottom: 20px;
}

.timestamp {
    padding-left: 30px;
}
.detail {
    font-size: 0.8em;
}

.icon-comment-o {
    font-size: 2.6em;
}

.icon-taxi {
    font-size: 1.1em;
    padding-top: 0.26em;
    padding-left: 0.6em;
}

.title {
    font-weight: bold;
    text-align: left;
    font-size: 1.4em;
    padding-top: 0.6em;
    margin-left: -10px;
    margin-top: -6px;
}

.title-long {
    font-size: 1.2em;
    padding-top: 0.7em;
}

.footer-row {
    padding: 5px;
    font-size: 90%;
    text-align: center;
    /*position: absolute;*/
    margin-bottom: 0;
}

.footer-subtitle {
    font-weight: bold;
}

.top-row {
    color: #EEE;
    height: 4.3em;
}

.gradient a:hover {
    text-decoration: underline;
}
.gradient a {
    color: white;
}
.gradient {
    color: white;
}

.gradient {
background-color: #0278ed;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDhmZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAzNjBlNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(0, 143, 244)),color-stop(1, rgb(3, 96, 229)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0360e5",endColorstr="#ff008ff4",GradientType=0);
    }
}
