.button {
    color: red;
}

.body {
    font-size: 36px;
}

.ratings-list {
    padding: 10px;
}

.ratings-list td {
    padding: 5px;
}

.ratings-list th {
    font-weight: bold;
    padding-right: 15px;
}

.logo {
    width: auto;
}

.rate-trip-row {
    font-size: 1.3em;
    padding: 10px 5px;
    /*padding-left: 0;*/
}

.left-column {
    padding-left: 0;
    color: #777;
}
.top-row {
    background-color: lightgreen;
    height: 4.3em;
}

.rating-row {
    font-size: 83%;
}

.driver-photo img {
    height: 90px;
}
.qrcode img {
    height: 90px;
}

.qrcode-badge img {
    height: 50px;
}

.star-badge i {
    text-align: left;
}

.button-badge {
    /*padding-top: 10px;*/
}

.button-badge input {
    font-size: 70%;
}

.text-label {
    font-size: 0.7em;
    font-weight: bold;
}

.text-label.driver-name {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 5px;
}

.text-label.permit-number {
    font-size: 1.7em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #555;
    padding-left: 5px;
}

.comment-row textarea {
    width: 100%;
    font-size: 0.85em;
}

.done-button-row {
    padding-bottom: 20px;
}

.icon-comment-o {
    font-size: 2.6em;
}

.icon-taxi {
    font-size: 1.1em;
    padding-top: 0.26em;
    padding-left: 0.6em;
}

.title {
    font-weight: bold;
    text-align: left;
    font-size: 1.4em;
    padding-top: 0.6em;
    margin-left: -10px
}

.title-long {
    font-size: 1.2em;
    padding-top: 0.7em;
}

.footer-row {
    background-color: lightgreen;
    padding: 5px;
    font-size: 90%;
    text-align: center;
    /*position: absolute;*/
    margin-bottom: 0;
}

.footer-subtitle {
    font-weight: bold;
}
