
.body {
    font-size: 11px;
}

.driver-card {
    height: 3.375in;
    width: 2.35in;
}

.top-row {
    color: #EEE;
    height: 4.3em;
}

.logo {
    margin-left: -4px;
    margin-top: -2px;
    width: auto;
}

.card-row {
    padding: 5px 0 5px 0;
}

.first-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.driver-photo img {
    width: 75px;
    height: 75px;
    margin-left: -10px;
}

.driver-name {
    font-size: 1.2em;
}

.permit-number {
    font-size: 1.5em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #555;
}

.message {
    text-align: center;
}

.detail {
}

.icon-comment-o {
    font-size: 2.6em;
}

.icon-taxi {
    font-size: 1.1em;
    padding-top: 0.26em;
    padding-left: 0.6em;
}

.title {
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    padding-top: 0.8em;
    margin-left: 0;
}

.title-column {
    padding-right: 0;
}

.qrcode img {
    width: 175px;
    height: 175px;
}

.qrcode {
    text-align: center;
    padding: 0;
}

.driver-url {
    text-align: center;
}

.gradient a:hover {
    text-decoration: underline;
}
.gradient a {
    color: white;
}
.gradient {
    color: white;
}

.gradient {
background-color: #0278ed;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDhmZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAzNjBlNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(0, 143, 244)),color-stop(1, rgb(3, 96, 229)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgb(0, 143, 244) 0%,rgb(3, 96, 229) 100%);
}
