%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:drivers, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:drivers, :new)

.tabs-content
  = form_for :driver, url(:drivers, :create), :class => 'form-horizontal' do |f|
    =partial 'drivers/form', :locals => { :f => f }
