.container-fluid
	.row.rate-row.top-row.gradient
		.col-xs-4
			%span.logo.icon-stack.icon-lg
				%i.logo.icon.icon-comment-o.icon-stack-2x
				%i.logo.icon.icon-taxi.icon-stack-1x

		.col-xs-8
			.title
				Instructions

.container-fluid
	.row.rate-row.home-row
		.col-xs-3.left-column.qrcode-badge
			%i.icon.icon-qrcode.icon-3x
		.col-xs-9
			Scan the 'Rate This Ride' QR Code during your taxi ride.
			%br
	.row.rate-row.home-row
		.col-xs-3.left-column.star-badge
			%i.icon.icon-star.icon-3x
		.col-xs-9
			Choose a star rating for your ride based on overall quality.
			%br
	.row.rate-row.home-row
		.col-xs-3.left-column
			%a.btn.btn-primary{type: :submit, disabled: :disabled}
				Done
		.col-xs-9
			Click done and that's it!
			%br
			%br

%footer
	.container-fluid.footer.footer-row.gradient
		.footer-subtitle
			promoting better taxis
		.footer-title
			TaxiTalk.info / RateThisRide.us
